@media screen and (min-width: 320px) {
  .cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
  }

  .menu a {
    padding: 1.25rem 0.625rem;
    text-align: center;
  }

  .principal {
    max-width: 90vw;
    grid-template-columns: 1fr;
  }

  .subtitulo {
    font-size: 2rem;
  }

  .introducao::before {
    display: none;
  }

  .introducao::after {
    content: "";
    width: 0.25rem;
    /* height: 3.75rem; */
    height: 1.875rem;
    bottom: -0.9375rem;
    right: 50%;
    background-color: #ee2211;
    position: absolute;
  }

  .introducao p {
    max-width: 45ch;
  }

  footer p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 576px) {
  .menu {
    display: flex;
    gap: 1.875rem;
  }

  .subtitulo {
    font-size: 3rem;
  }

  .introducao::after {
    height: 3.125rem;
    bottom: -1.5625rem;
  }
}

@media screen and (min-width: 768px) {
  .menu a {
    padding: 0.9375rem 1.875rem;
  }

  .subtitulo {
    font-size: 3rem;
    padding: 2.5rem 2.5rem 2.5rem 7rem;
  }

  footer p {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 992px) {
  .principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 54rem;
  }

  .subtitulo {
    padding: 2.5rem;
    font-size: 3.25rem;
  }

  .introducao::after {
    display: none;
  }

  .introducao::before {
    display: unset;
  }
}

@media screen and (min-width: 1200px) {
  .principal {
    max-width: 62.5rem;
  }

  .subtitulo {
    font-size: 4rem;
  }
}
