@media screen and (min-width: 320px) {
  .cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu {
    /* gap: 1.25rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
  }

  .menu a {
    padding: 1.25rem 0.625rem;
    text-align: center;
  }

  .principal {
    max-width: 43.75rem;
    grid-template-columns: 1fr;
  }

  .subtitulo {
    font-size: 2rem;
  }

  .introducao::before {
    display: none;
  }

  .introducao::after {
    content: "";
    width: 0.25rem;
    /* height: 3.75rem; */
    height: 1.875rem;
    background-color: #ee2211;
    position: absolute;
    bottom: -0.9375rem;
    right: 50%;
  }

  .introducao p {
    max-width: 45ch;
  }

  .bicicleta {
    max-width: 90%;
    justify-self: center;
  }

  footer p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 414px) {
}
