@import "./responsive.css";

:root {
  --cor-primaria: #e21;
  --cor-primaria-escura: #900;
  --cor-fundo-1: #f7f7f7;
  --cor-fundo-2: #ffffff;
  --cor-texto: #000000;
  --cor-subtitulo: rgba(0, 0, 0, 0.2);
  --onda: url("../img/onda-clara.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --cor-fundo-1: #111111;
    --cor-fundo-2: #000000;
    --cor-texto: #ffffff;
    --cor-subtitulo: rgba(255, 255, 255, 0.2);
    --onda: url("../img/onda-escura.svg");
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  background-color: var(--cor-fundo-1);
  justify-items: center;
  gap: 3.75rem;
  margin-top: 3.75rem;
  color: var(--cor-texto);
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

.cabecalho {
  display: grid;
  justify-items: center;
  gap: 3.75rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem;
}

.menu a {
  text-transform: uppercase;
  background-color: var(--cor-fundo-2);
  /* padding: 0.9375rem 1.875rem; */
  border-radius: 0.25rem;
  color: var(--cor-texto);
  border: 0.125rem solid var(--cor-fundo-2);
}

.menu a:hover {
  border-color: var(--cor-primaria);
}

img {
  max-width: 100%;
}

.principal {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  max-width: 62.5rem;
}

.introducao {
  background-color: var(--cor-fundo-2);
  text-align: right;
  padding: 2.5rem;
  position: relative;
  display: grid;
  align-content: center;
  gap: 1.25rem;
  justify-items: end;
}

.introducao::before {
  content: "";
  width: 3.75rem;
  height: 0.25rem;
  background-color: var(--cor-primaria);
  position: absolute;
  top: 1.875rem;
  right: -1.875rem;
}

.botao {
  text-transform: uppercase;
  background-color: var(--cor-primaria);
  padding: 0.9375rem 1.875rem;
  color: #ffffff;
  border-radius: 0.25rem;
}

.botao:hover {
  background-color: var(--cor-primaria-escura);
}

.subtitulo {
  text-transform: uppercase;
  /* font-size: 4rem; */
  color: var(--cor-subtitulo);
  background-image: var(--onda);
  text-align: right;
  /* padding: 2.5rem; */
  align-self: center;
}

.vantagens {
  background-color: var(--cor-fundo-2);
  padding: 2.5rem;
}

.vantagens-item:nth-child(odd) {
  background-color: var(--cor-fundo-1);
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
  border-left: 0.1875rem solid transparent;
}

.vantagens-item:hover {
  border-color: var(--cor-primaria);
}

.vantagens-item p {
  grid-column: 2;
}

footer {
  text-transform: capitalize;
  background-color: var(--cor-fundo-2);
  width: 100%;
  padding: 2.5rem;
  text-align: center;
  box-sizing: border-box;
}
