body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  background-color: #f7f7f7;
  justify-items: center;
  gap: 3.75rem;
  margin-top: 3.75rem;
}

p,
h1,
h2,
h3 {
  margin: 0px;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

.cabecalho {
  display: grid;
  justify-items: center;
  gap: 3.75rem;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem;
}

.menu a {
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 0.9375rem 1.875rem;
  border-radius: 0.25rem;
  color: #000000;
  border: 0.125rem solid #ffffff;
}

.menu a:hover {
  border-color: #ee2211;
}

img {
  max-width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;
}

.introducao {
  background-color: #ffffff;
  text-align: right;
  padding: 2.5rem;
  position: relative;
  display: grid;
  align-content: center;
  gap: 1.25rem;
  justify-items: end;
}

.introducao::before {
  content: "";
  width: 3.75rem;
  height: 0.25rem;
  background-color: #ee2211;
  position: absolute;
  top: 1.875rem;
  right: -1.875rem;
}

.botao {
  text-transform: uppercase;
  background-color: #ee2211;
  padding: 0.9375rem 1.875rem;
  color: #ffffff;
  border-radius: 0.25rem;
}

.botao:hover {
  background-color: #990000;
}

.subtitulo {
  text-transform: uppercase;
  font-size: 4rem;
  color: #c6c6c6;
  background-image: url(./img/onda.svg);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
}

.vantagens {
  background-color: #ffffff;
  padding: 2.5rem;
}

.vantagens-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
}

.vantagens-item:hover {
  border-left: 0.1875rem solid #ee2211;
}

.vantagens-item p {
  grid-column: 2;
}

footer {
  text-transform: capitalize;
  background-color: #ffffff;
  width: 100%;
  padding: 2.5rem;
  text-align: center;
  box-sizing: border-box;
}
